.divStart{
  background-color: #F0F1F2;
  height: 40px;
  width: 610px;
  display: flex;
  align-items: center;
  height: 30px;
  width: 600px;
  padding: 5px;
  border-radius: 3px;
  border: 0;
}


.divStart:hover {
  background-color: #d9dbdf;
}
